@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.animate {
  transition: transform 0.3s ease-out;
}

.slider-wrap {
  width: 80vw;
  height: 88vh;
  position: relative;
  left: 10vw;
  top: 5vh;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
  width: 400%; /* (Number of slides*100%) */
  height: 100%;
  overflow-y: hidden;
}

.slide-wrapper {
  width: 25%; /* Fraction of 1 slide/total number of slides */
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  height: 100%;
  position: relative;
}

.slideNumber {
  position: absolute;
  z-index: 1;
  color: #122620;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}

/* Specific Slide IDs */
#slide-0 {
  background-color: #B68D40;
}
#slide-1 {
  background-color: #F4EBD0;
}
#slide-2 {
  background-color: #D6AD60;
}
#slide-3 {
  background-color: #B68D40;
}


/* Dot Navigation */
.slider-dotnav {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 7vh;
}
.slider-dotnav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}

.slider-dotnav a.active {
  background: #999;
}


/* Chevron Navigation */
.chevron-left-wrapper, .chevron-right-wrapper {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
  width: 10vw;
  color: #122620;
  font-family: 'Josefin Slab', serif;
  font-size: 100px;
}

.chevron-left-wrapper {
  left: 0;
}
.chevron-right-wrapper {
  right: 0;
}